.site-header {
  margin: 20px;
  width: 100%;
  background-color: var(--color-white);
}

.header-container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header-right {
  justify-content: flex-end;
}

.header-right img {
  display: block;
  width: 50px;
  height: auto;
}


/* ================= NAV=============== */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.nav-items {
  position: relative;
}

.nav-items a,
.nav-items span {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-text);
  cursor: pointer;
  white-space: nowrap;
}

.nav-items a:hover,
.nav-items span:hover {
  color: var(--color-accent);
}
.nav-items span {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.nav-items span .ri-arrow-down-s-line {
  transition: transform 0.25s ease;
}
.nav-items:hover span .ri-arrow-down-s-line {
  transform: rotate(180deg);
}

/* ============= DROPDOWN ================================ */
.dropdown-box {
  position: absolute;
  top: 120%;
  left: 0;
  display: flex;
  background-color: var(--color-primary);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  min-width: 400px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all 0.25s ease;
  border-radius: 16px;
  z-index: 10;
}
.nav-items:hover .dropdown-box {
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease;
  transform: translateY(0);
}
.dropdown-left {
  list-style: none;
  margin: 0;
  padding: 20px;
  min-width: 150px;
}
.dropdown-left li a {
  display: block;
  padding: 8px 12px;
  line-height: 20px;
  color: var(--color-text);
}

/* کادر طوسی */
.dropdown-left li a.highlight {
  background-color: var(--color-gray); 
  color: var(--color-accent); 
  border-radius: 8px;
  padding: 8px 12px; 
  display: block;
  cursor: pointer;
  transition: width 0.3s ease;
}


/* ===============mega */
.mega-right {
  flex-grow: 1;
  padding: 15px;
  background-color: var(--color-primary);
  min-width: 200px;
  box-sizing: border-box;
  border-radius: 16px;
  
}
.mega-content {
  display: none;

}
.mega-content header {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 8px;
}
.mega-item {
  list-style: none;
  padding: 0;
  margin: 0;
}
.mega-item li a {
  display: block;
  padding: 6px 10px;
  color: var(--color-text);
  text-decoration: none;
  border-radius: 4px;
}
.mega-item li a:hover {
  color: var(--color-accent);
}
/* ============= mega line ================== */
.mega-right .line {
  position: relative;
  display: block;
  padding-left: 18px;
}
.mega-right .line::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
  height: 80%;
  background-color: var(--color-accent);
  border-radius: 2px;
}
.mega-headers{
  display: flex;
}
/* ====================SEARCH BOX============ */
.search-box {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--color-secondary);
  display: flex;
  align-items: center;
  overflow: hidden;
  transition: width 0.3s ease;
}

.search-box i {
  position: absolute;
  left: 8px;
  font-size: 18px;
  color: var(--color-text);
}

.search-box input {
  width: 36px;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 36px;
  font-size: 14px;
  background: transparent;
  transition: width 0.3s ease;
}

.search-box.active {
  width: 160px;
  border-radius: 18px;
}

.search-box.active input {
  width: 100%;
}

/* ====================== BTN==================================== */
.btn {
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  color: var(--color-text);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-secondary);
}

.auth-buttons {
  display: flex;
}

.btn-auth {
  border-radius: 0;
}

.btn-auth:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-right: none;
}

.btn-auth:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: var(--color-secondary);
}

/* =====================DARK MODE BTN===================== */
.darkmood {
  border-radius: 70%;
}
