:root {
   --color-primary: #F3F0FF;
  --color-secondary: #D6CCFF;
  --color-accent: #817ab7;
  --color-white: #FFFFFF;
  --color-text: #1A1A1A;
  --color-gray:#e0e0e09c;
  --max-width: 1200px;
}
* {
  box-sizing: border-box;
  text-decoration: none;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body{
  font-family:  sans-serif;
}
