.slider-section{
  width: 100%;
  padding: 60px 0;
  background-color: var(--color-primary);
}
.mySwiper{
  width: 100%;
  height: 400px;
  margin: 0 auto;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
}
.mySwiper .swiper-slide{
  display: flex;
  background-color: var(--color-secondary);
  color: #111;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===============product-card============== */
.product-card{
  position: relative;
  width: 100%;
  height: 400px;
  padding: 16px;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:  var(--color-secondary);
  align-items: center;
  border-radius: 16px;
  
}
.product-img{
  height: 250px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  
}
.product-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
 
}
.product-button {
  background-color: transparent;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 14px;
  color: var(--color-text);
  cursor: pointer;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.12);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.product-button:hover {
  background-color: var(--color-accent);
  color: aliceblue;
  transform: translateY(-4px);
  transition: transform 0.3s ease;
}
